// main.scss
@import "../node_modules/bulma/bulma.scss";

.background-image {
    background-image: url('images/bOutside.jpg');
    background-size: cover; /* image cover the entire background */
    background-position: left; 
    height: 50vh; 
    width: 50vw; 
    border-radius: 50%;
    border: 5px solid #555;
}

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3
.image-stack__item--top {
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 20%; 
    z-index: 1; 
  }

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3

.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1; // make this image be on the same row
}

// small section for top
.small-section {
    padding: 1rem;
    margin: auto auto;
    width: 1000rem;
    align-items: center;
  }

.front-section {
  @extend .section;
  height: fit-content;
}

// button thats small
.buttonSquare {
  @extend .button;
  //border-radius: 8px;
  padding: 8px; // setting this to 0 centers any text
  //font-size: 1.5rem; 
  width: 50px; 
  height: 25px; 
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futur.ttf');
}

.futuraTitle {
  @extend .title;
  font-family: 'Futura', Arial, Helvetica, sans-serif !important;
}

highlight {
  background-color: #18141c;
}