// main.scss
@import "../node_modules/bulma/bulma.scss";

.background-image {
    background-image: url('images/bOutside.jpg');
    background-size: cover; /* image cover the entire background */
    background-position: left; 
    height: 50vh; 
    width: 50vw; 
    border-radius: 50%;
    border: 5px solid #555;
}

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3
.image-stack__item--top {
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 20%; 
    z-index: 1; 
  }

// THIS WAS TAKEN from https://bricampgomez.com/blog/how-to-overlap-images-in-css/, thank you friend <3

.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1; // make this image be on the same row
}

// small section for top
.small-section {
    padding: 1rem;
    margin: auto auto;
    //height: 3rem;
    width: 1000rem;
    align-items: center;
  }

.front-section {
  @extend .section;
  height: fit-content;
}

// button thats small
.buttonSquare {
  @extend .button;
  //border-radius: 8px;
  //padding: 8px; // setting this to 0 centers any text
  //font-size: 1.5rem; 
  width: 50px; 
  height: 30px; 
  margin-top: 0px;
  margin-bottom: 0px;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futur.ttf');
}



.futuraTitle {
  @extend .title;
  font-family: 'Futura', Arial, Helvetica, sans-serif !important;
}

highlight {
  background-color: #18141c;
}

highlightPoint {
  background-color: #18141c;
  display: inline-block;
  padding: 0 5px;
}

li.black:before {
  background-color: #18141c;
}

p.futura{
  font-family: 'Futura', Arial, Helvetica, sans-serif !important;
}

h1.futura{
  font-family: 'Futura', Arial, Helvetica, sans-serif !important;
}

boxCorners {
  @extend .box;
  // border-bottom-right-radius: 100%;
  // border-top-right-radius: 100%;
  // border-radius: 100%;
}

//thanks you internet
.leftAlign {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.textContainer {
  position: relative;
}

.onImageTitle {
  @extend .futuraTitle;
  position: absolute;
}
.onImageSubtitle {
  @extend .subtitle;
  position: absolute;
  font-family: 'Futura', Arial, Helvetica, sans-serif !important;

}

.summary {
  margin-bottom: 1.5rem;

  .title {
    padding: .5em 0;
    border-bottom: 1px solid var(--theme-color);
  }
}

.image-button {
  @extend .button;
  width: 400px;
  height: 300px;
  background: url(./images/rosePhoto2023.jpg);
  background-size: cover;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  border-color: rgb(255, 193, 7);
  background-color: rgba(0, 0, 0, 0.583);
  background-blend-mode: multiply;
  border-width: 10px;

  align-items: center;
  justify-content: center;

}

.image-button:hover{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.031);
  background-blend-mode: multiply;
  transform: scale(0.99);
}